{% extends 'base.html' %}
{% load static %}

{% block title %}Sensive Blog - Home{% endblock %}

{% block content %}
<main class="site-main">
  <!-- Hero Banner -->
  <section class="mb-30px">
    <div class="container">
      <div class="hero-banner"
           style="background-image: url('{% static 'img/banner/hero-banner.png' %}');
                  background-size: cover;
                  background-position: center;
                  background-repeat: no-repeat;
                  height: 400px;">
        <div class="hero-banner__content">
          <h3>Tours &amp; Travels</h3>
          <h1>Amazing Places on earth</h1>
          <h4>December 12, 2018</h4>
        </div>
      </div>
    </div>
  </section>

  <!-- Популярное -->
  <section class="container mb-5">
    <div class="row">
      {% for post in most_popular_posts %}
        <div class="col-md-4 mb-4 d-flex justify-content-center">
          <div class="text-center" style="max-width: 350px;">
            <a href="{% url 'post_detail' post.slug %}">
              {% if post.image_url %}
                <img class="img-fluid mb-3" src="{{ MEDIA_URL }}{{ post.image_url }}" alt="{{ post.title }}">
              {% else %}
                <img class="img-fluid mb-3" src="{% static 'img/banner/blog.png' %}" alt="default image">
              {% endif %}
            </a>
            <h6 style="font-weight: 600;">
              <a href="{% url 'post_detail' post.slug %}" style="color: inherit;">{{ post.title }}</a>
            </h6>
            <p class="text-muted mb-0">{{ post.published_at|date:"F d, Y, g:i a" }}</p>
          </div>
        </div>
      {% empty %}
        <p class="text-center">Нет популярных постов.</p>
      {% endfor %}
    </div>
  </section>

  <!-- Свежие посты -->
  <section class="blog-post-area section-margin mt-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          {% for post in fresh_posts %}
            <div class="single-recent-blog-post">
              <div class="thumb">
                {% if post.image_url %}
                  <img class="img-fluid" src="{{ MEDIA_URL }}{{ post.image_url }}" alt="{{ post.title }}">
                {% else %}
                  <img class="img-fluid" src="{% static 'img/banner/blog.png' %}" alt="default image">
                {% endif %}
                <ul class="thumb-info" style="max-width: 550px;">
                  <li><i class="ti-user"></i> {{ post.author }}</li>
                  <li><i class="ti-notepad"></i> {{ post.published_at|date:"F d, Y" }}</li>
                  <li><i class="ti-themify-favicon"></i> {{ post.comments_amount }} Comments</li>
                </ul>
              </div>
              <div class="details mt-20">
                <h3>
                  <a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a>
                </h3>
                <p>{{ post.text|truncatewords:30 }}</p>
                <a class="button" href="{% url 'post_detail' post.slug %}">Read More <i class="ti-arrow-right"></i></a>
              </div>
            </div>
            <br><hr><br>
          {% empty %}
            <p>Нет свежих постов.</p>
          {% endfor %}

          <!-- Пагинация (пример) -->
          <div class="row">
            <div class="col-lg-12">
              <nav class="blog-pagination justify-content-center d-flex">
                <ul class="pagination">
                  <li class="page-item"><a href="#" class="page-link"><i class="ti-angle-left"></i></a></li>
                  <li class="page-item active"><a href="#" class="page-link">1</a></li>
                  <li class="page-item"><a href="#" class="page-link">2</a></li>
                  <li class="page-item"><a href="#" class="page-link"><i class="ti-angle-right"></i></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>

        <!-- Сайдбар -->
        <div class="col-lg-4 sidebar-widgets">
          <div class="widget-wrap">
            <div class="single-sidebar-widget newsletter-widget">
              <h4 class="single-sidebar-widget__title">Newsletter</h4>
              <div class="form-group mt-30">
                <div class="col-autos">
                  <input type="text" class="form-control" placeholder="Enter email">
                </div>
              </div>
              <button class="bbtns d-block mt-20 w-100">Subscribe</button>
            </div>

            <div class="single-sidebar-widget post-category-widget">
              <h4 class="single-sidebar-widget" style="height:200px;">Здесь будет реклама</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}